@tailwind base;
@tailwind components;
@tailwind utilities;

pre::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

pre,
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

pre[class*='language-'] {
  color: theme('colors.zinc.100');
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function,
.token.module {
  color: theme('colors.pink.400');
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: theme('colors.zinc.300');
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: theme('colors.teal.300');
}

.token.punctuation,
.token.attr-equals {
  color: theme('colors.zinc.500');
}

.token.unit,
.language-css .token.function {
  color: theme('colors.sky.200');
}

.token.comment,
.token.operator,
.token.combinator {
  color: theme('colors.zinc.400');
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply !my-4;
}

@layer components {
  .shine {
    box-shadow: -8px 0px 20px rgba(24, 226, 81, 0.3),
      0px 0px 20px rgba(0, 192, 234, 0.3), 8px 0px 20px rgba(98, 72, 255, 0.3);
  }

  .dark .prose a {
    color: white;
  }
}
