@tailwind base;
@tailwind components;
@tailwind utilities;

pre::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

pre,
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
}

@layer components {
  .shine {
    box-shadow:
      -8px 0px 20px rgba(24, 226, 81, 0.3),
      0px 0px 20px rgba(0, 192, 234, 0.3),
      8px 0px 20px rgba(98, 72, 255, 0.3);
  }

  .dark .prose a {
    color: white;
  }

  .rounded-adaptive {
    border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
  }
}
